<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="credit" class="in.venkat.CreditcardPayment"></bean>
<bean id="debit" class="in.venkat.DebitcardPayment"></bean>
<bean id="upi" class="in.venkat.UpiPayment"></bean>
<bean id="restaurent" class="in.venkat.Restaurent">
<constructor-arg name="iPayment" ref="credit"></constructor-arg>
</bean>
</beans>