<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="ps" class="in.venkat.PwdServiceImpl"></bean>
   <bean id="ds" class="in.venkat.UserDaoServiceImpl"></bean>
   <bean id="es" class="in.venkat.EmailNotificationServiceImpl"></bean>
   <bean id="us" class="in.venkat.UserService" autowire="constructor"></bean>

</beans>